.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 601px) and (max-width: 950px) {
  .board {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 600px) {
  .board {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.board__box {
  padding: 50px;
  min-width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 50px;
}
@media all and (min-width: 951px) and (max-width: 1100px) {
  .board__box {
    gap: 30px;
    padding: 30px;
  }
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box {
    gap: 20px;
    padding: 20px;
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  .board__box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
}
@media all and (max-width: 600px) {
  .board__box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 10px;
  }
}
.board__box__card {
  text-align: center;
  padding: 30px;
  width: 350px;
  height: 350px;
  border: #124b38 2px solid;
  border-radius: 30px;
  color: #b6124d;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 951px) and (max-width: 1100px) {
  .board__box__card {
    width: 300px;
    height: 300px;
  }
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card {
    width: 275px;
    height: 275px;
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  .board__box__card {
    width: 350px;
    height: 350px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card {
    width: 320px;
    height: 320px;
  }
}
.board__deco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media all and (min-width: 601px) and (max-width: 950px) {
  .board__deco {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 600px) {
  .board__deco {
    display: none;
  }
}
.board__deco__img {
  width: 75px;
  height: 75px;
}

.board__box__card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.board__box__card1__title {
  font-size: 28px;
  font-weight: 600;
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card1__title {
    font-size: 22px;
  }
}
.board__box__card1__btn {
  background-color: #b6124d;
  color: #ffebe2;
  border: none;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 25px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
  transition: all 800ms;
}

.board__box__card2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.board__box__card2__title {
  font-size: 138px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}
@media all and (min-width: 951px) and (max-width: 1100px) {
  .board__box__card2__title {
    font-size: 98px;
  }
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card2__title {
    font-size: 68px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card2__title {
    font-size: 68px;
  }
}
.board__box__card2__p {
  width: 100%;
  font-size: 35px;
  text-align: right;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card2__p {
    font-size: 28px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card2__p {
    font-size: 28px;
  }
}
.board__box__card2__btn {
  background-color: #ffebe2;
  color: #124b38;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
  transition: all 800ms;
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card2__btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card2__btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

.board__box__card3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.board__box__card3__title {
  font-size: 28px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card3__title {
    font-size: 22px;
    padding: 0px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card3__title {
    font-size: 22px;
    padding: 0px;
  }
}
.board__box__card3__pn {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card3__pn {
    padding-top: 20px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card3__pn {
    padding-top: 20px;
  }
}
.board__box__card3__p {
  font-weight: 400;
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

.board__box__card4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.board__box__card4__title {
  font-size: 28px;
  font-weight: 600;
  padding: 0px 0px 50px 0px;
  margin: 0px;
}
@media all and (min-width: 801px) and (max-width: 950px) {
  .board__box__card4__title {
    font-size: 22px;
    padding: 0px;
  }
}
@media all and (max-width: 600px) {
  .board__box__card4__title {
    font-size: 22px;
    padding: 0px;
  }
}
.board__box__card4__invit {
  font-weight: 400;
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #124b38;
}
.board__box__card4__btn {
  background-color: #b6124d;
  color: #ffebe2;
  border: none;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 25px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
  transition: all 800ms;
}

.board__box__card1__btn:hover,
.board__box__card2__btn:hover,
.board__box__card4__btn:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=dashboardboard.css.map */
