.login {
  max-width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 75px;
  background-color: #ffd2b8;
}
@media all and (min-width: 901px) and (max-width: 1200px) {
  .login {
    gap: 30px;
  }
}
@media all and (min-width: 601px) and (max-width: 900px) {
  .login {
    gap: 0px;
    justify-content: center;
    gap: 50px;
  }
}
@media all and (max-width: 600px) {
  .login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}
.login a {
  text-decoration: none;
}
.login__register {
  padding-top: 10px;
  font-size: 20px;
  color: #ffebe2;
  text-decoration: none;
}
.login__deco {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__deco__btn {
  background-color: #b6124d;
  min-width: fit-content;
  padding: 15px 20px;
  border-radius: 50px;
  border: 0;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  color: #ffebe2;
  font-family: "Manrope" sans-serif;
  font-size: 100%;
  transition: all 800ms;
}
@media all and (min-width: 901px) and (max-width: 1100px) {
  .login__deco__btn {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 15px 10px;
  }
}
@media all and (min-width: 801px) and (max-width: 900px) {
  .login__deco__btn {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 15px 5px;
    width: 48%;
  }
}
@media all and (min-width: 451px) and (max-width: 800px) {
  .login__deco__btn {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 15px 2px;
    width: 45%;
  }
}
@media all and (min-width: 251px) and (max-width: 450px) {
  .login__deco__btn {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 15px 2px;
    width: 48%;
  }
}
.login__btlles {
  display: flex;
  flex-direction: column-reverse;
}
@media all and (min-width: 901px) and (max-width: 1200px) {
  .login__btlles__img {
    width: 280px;
  }
}
@media all and (min-width: 601px) and (max-width: 900px) {
  .login__btlles__img {
    width: 220px;
  }
}
@media all and (max-width: 600px) {
  .login__btlles__img {
    width: 150px;
  }
}
.login__form {
  margin-top: 20%;
  max-width: 40%;
  background-color: #b6124d;
  height: fit-content;
  max-height: 500px;
  width: 50%;
  border-radius: 15px;
  padding: 70px 25px 100px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #ffebe2;
  font-size: 18px;
}
@media all and (min-width: 901px) and (max-width: 1200px) {
  .login__form {
    max-width: 45%;
  }
}
@media all and (min-width: 601px) and (max-width: 900px) {
  .login__form {
    min-width: 60%;
  }
}
@media all and (max-width: 600px) {
  .login__form {
    min-width: 90%;
  }
}
.login__form__title {
  color: #ffd2b8;
  padding: 50px 0px 0px 0px;
  margin: 0px;
  font-weight: 800;
  font-size: 2.3em;
}
@media all and (min-width: 1000px) and (max-width: 1290px) {
  .login__form__title {
    white-space: nowrap;
    font-size: 2em;
  }
}
@media all and (min-width: 801px) and (max-width: 1000px) {
  .login__form__title {
    white-space: nowrap;
    font-size: 1.6em;
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  .login__form__title {
    font-size: 2em;
  }
}
@media all and (max-width: 600px) {
  .login__form__title {
    font-size: 1.7em;
  }
}
.login__form__groupe {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
}
@media all and (max-width: 600px) {
  .login__form__groupe {
    margin: 10px 0px;
  }
}
.login__form__btn {
  background-color: #124b38;
  min-width: fit-content;
  padding: 15px 20px;
  border-radius: 50px;
  border: 0;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  color: #ffebe2;
  font-family: "Manrope" sans-serif;
  font-size: 100%;
  transition: all 800ms;
}
@media all and (min-width: 901px) and (max-width: 1100px) {
  .login__form__btn {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 15px 10px;
  }
}
@media all and (min-width: 801px) and (max-width: 900px) {
  .login__form__btn {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 15px 5px;
    width: 48%;
  }
}
@media all and (min-width: 451px) and (max-width: 800px) {
  .login__form__btn {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 15px 2px;
    width: 45%;
  }
}
@media all and (min-width: 251px) and (max-width: 450px) {
  .login__form__btn {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 15px 2px;
    width: 48%;
  }
}

@media all and (max-width: 600px) {
  .img2 {
    display: none;
  }
}

#email_login,
#password_login {
  background-color: #ffd2b8;
}

/*# sourceMappingURL=login.css.map */
