$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 75px;

  @media all and (min-width: 2051px) {
    padding: 0px 150px;
  }

  @media all and (min-width: 1850px) and (max-width: 2050px) {
    padding: 0px 100px;
  }

  @media all and (min-width: 1101px) and (max-width: 1300px) {
    padding: 0px 50px;
  }

  @media all and (min-width: 901px) and (max-width: 1100px) {
    padding: 0px 30px;
  }

  @media all and (min-width: 801px) and (max-width: 900px) {
    padding: 0px 10px;
  }

  @media all and (min-width: 601px) and (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
    padding: 0px;
  }

  @media all and (max-width: 600px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    gap: 10px;
    padding: 0px;
  }

  &__box1 {
    @media all and (min-width: 601px) and (max-width: 800px) {
      max-height: 250px;
    }

    @media all and (max-width: 600px) {
      max-height: 120px;
    }
  }

  &__box2 {
    @media all and (min-width: 601px) and (max-width: 800px) {
      max-height: 250px;
      padding-bottom: 30px;
    }

    @media all and (max-width: 600px) {
      max-height: 120px;
      padding-bottom: 30px;
    }
  }

  &__box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15%;
    position: relative;
    @media all and (min-width: 601px) and (max-width: 800px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0%;
      align-items: end;
      max-height: 250px;
      min-width: 100%;
    }

    @media all and (max-width: 600px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0%;
      max-height: 250px;
      min-width: 100%;
    }
  }
}

#bt1,
#bt2,
#bt3 {
  width: 350px;
  position: relative;

  @media all and (min-width: 2051px) {
    width: 550px;
  }

  @media all and (min-width: 1850px) and (max-width: 2050px) {
    width: 450px;
  }

  @media all and (min-width: 1101px) and (max-width: 1300px) {
    width: 280px;
  }

  @media all and (min-width: 901px) and (max-width: 1100px) {
    width: 200px;
  }

  @media all and (min-width: 801px) and (max-width: 900px) {
    width: 175px;
  }

  @media all and (min-width: 601px) and (max-width: 800px) {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 250px;
  }

  @media all and (max-width: 600px) {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 120px;
  }
}

#bt1,
#bt2 {
  height: 880px;

  @media all and (min-width: 2051px) {
    height: 1280px;
  }

  @media all and (min-width: 1850px) and (max-width: 2050px) {
    height: 980px;
  }

  @media all and (min-width: 1101px) and (max-width: 1300px) {
    height: 700px;
  }

  @media all and (min-width: 901px) and (max-width: 1100px) {
    height: 500px;
  }

  @media all and (min-width: 801px) and (max-width: 900px) {
    height: 437.5px;
  }
}

#bt1 {
  @media all and (min-width: 601px) and (max-width: 800px) {
    position: relative;
    left: 100%;
    height: 601px;
  }

  @media all and (max-width: 600px) {
    position: relative;
    left: 100%;
    height: 300px;
  }
}

#bt2 {
  @media all and (min-width: 601px) and (max-width: 800px) {
    position: relative;
    left: 600px;
    height: 600px;
  }

  @media all and (max-width: 600px) {
    position: relative;
    left: 300px;
    height: 300px;
  }
}

#bt3 {
  @media all and (min-width: 601px) and (max-width: 800px) {
    position: relative;
    left: 250px;
    top: 22px;
    height: 300px;
  }

  @media all and (max-width: 600px) {
    position: relative;
    left: 120px;
  }
}

h1 {
  text-align: center;
  font-size: 72px;
  font-family: "Cinzel", serif;
  color: $red-wine;
  padding: 0px;
  margin: 0px;
  max-width: 250px;
  position: absolute;
  top: 150px;
  right: 260px;

  @media all and (min-width: 2051px) {
    position: absolute;
    top: 130px;
    right: 500px;
    font-size: 104px;
  }

  @media all and (min-width: 1850px) and (max-width: 2050px) {
    position: absolute;
    top: 140px;
    right: 450px;
    font-size: 84px;
  }

  @media all and (min-width: 1101px) and (max-width: 1300px) {
    position: absolute;
    top: 140px;
    right: 120px;
    font-size: 50px;
  }

  @media all and (min-width: 901px) and (max-width: 1100px) {
    position: absolute;
    top: 70px;
    right: 85px;
    font-size: 44px;
  }

  @media all and (min-width: 801px) and (max-width: 900px) {
    position: absolute;
    top: 60px;
    right: 80px;
    font-size: 42px;
  }

  @media all and (min-width: 601px) and (max-width: 800px) {
    position: absolute;
    top: 44px;
    right: 45px;
    max-width: 300px;
    font-size: 44px;
  }

  @media all and (max-width: 600px) {
    position: absolute;
    top: 15px;
    right: 8px;
    font-size: 30px;
  }
}
