$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.btnNV {
  background-color: $red-wine;
  color: $light-peach;
  height: 220px;
  width: 220px;
  border-radius: 110px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  border: none;
  transition: all 800ms ease-in-out;

  @media all and (min-width: 2051px) {
    height: 250px;
    width: 250px;
    border-radius: 250px;
  }

  @media all and (min-width: 1850px) and (max-width: 2050px) {
    height: 230px;
    width: 230px;
    border-radius: 230px;
  }

  @media all and (min-width: 1301px) and (max-width: 1550px) {
    height: 195px;
    width: 195px;
    border-radius: 100px;
  }

  @media all and (min-width: 1301px) and (max-width: 1550px) {
    height: 185px;
    width: 185px;
    border-radius: 100px;
  }

  @media all and (min-width: 1101px) and (max-width: 1300px) {
    height: 180px;
    width: 180px;
    border-radius: 100px;
  }

  @media all and (min-width: 811px) and (max-width: 1100px) {
    height: 175px;
    width: 175px;
    border-radius: 100px;
  }

  @media all and (min-width: 751px) and (max-width: 810px) {
    height: 170px;
    width: 170px;
    border-radius: 100px;
  }
  @media all and (min-width: 601px) and (max-width: 750px) {
    height: 160px;
    width: 160px;
    border-radius: 100px;
  }

  @media all and (min-width: 501px) and (max-width: 600px) {
    height: 150px;
    width: 150px;
    border-radius: 100px;
  }

  @media all and (min-width: 401px) and (max-width: 500px) {
    height: 140px;
    width: 140px;
    border-radius: 100px;
  }

  @media all and (min-width: 301px) and (max-width: 400px) {
    height: 130px;
    width: 130px;
    border-radius: 100px;
  }

  @media all and (max-width: 300px) {
    height: 120px;
    width: 120px;
    border-radius: 100px;
  }
}

.btnNV:hover {
  transform: scale(1.2) rotate(360deg);
}
