$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.cardSalon {
  padding: 5px;
  border: solid 1px $green-leaf;
  border-radius: 4px;
  position: relative;
  min-width: 170px;
  min-height: 170px;
  max-width: fit-content;
  max-height: fit-content;
  perspective: 130px;
  transition: transform 1000ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 25px rgba(0, 0, 0.1, 0.2);

  @media all and (min-width: 501px) and (max-width: 600px) {
    min-width: 140px;
    min-height: 140px;
    max-width: fit-content;
    max-height: fit-content;
  }
  @media all and (min-width: 401px) and (max-width: 500px) {
    min-width: 150px;
    min-height: 150px;
  }

  @media all and (max-width: 400px) {
    min-width: 250px;
    min-height: 250px;
  }

  &.flipped {
    transform: scale(1.15) rotateY(180deg) translateY(-10px);
  }

  .cardSalon {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    &__front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 75px;
        max-height: 50px;
      }

      &__name {
        padding-top: 10px;
        color: $green-leaf;
        font-weight: 800;
        font-size: 20px;
        text-align: center;

        @media all and (min-width: 401px) and (max-width: 600px) {
          font-size: 16px;
        }
      }
    }

    &__back {
      display: none;
      transform: rotateY(180deg);

      &__p {
        color: $green-leaf;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
      }
    }
  }

  &:hover {
    .cardSalon__front {
      display: none;
    }

    .cardSalon__back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
