$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.chiffre {
  position: relative;
  width: 150px;
  height: 150px;
  perspective: 130px;
  transition: transform 1000ms;
  line-height: 150px;
  line-height: 1;
  &.flipped {
    transform: rotateY(180deg) translateY(-150px) translateX(-150px);

    @media all and (min-width: 1201px) and (max-width: 1440px) {
      transform: rotateY(180deg) translateY(-150px) translateX(-80px);
    }
    @media all and (min-width: 901px) and (max-width: 1200px) {
      transform: rotateY(180deg) translateY(-150px) translateX(-15px);
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
      transform: rotateY(180deg) translateY(-150px) translateX(-10px);
    }

    @media all and (min-width: 200px) and (max-width: 600px) {
      transform: rotateY(180deg) translateY(-110px) translateX(-10px);
    }
  }

  .chiffre {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    &__chiffre {
      &__title {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__back {
      display: none;
      transform: rotateY(180deg);
      width: 300px;
      height: 450px;
      object-fit: cover;

      @media all and (min-width: 1200px) and (max-width: 1440px) {
        width: 200px;
      }

      @media all and (min-width: 901px) and (max-width: 1200px) {
        width: 180px;
      }

      @media all and (min-width: 600px) and (max-width: 900px) {
        width: 140px;
      }

      @media all and (min-width: 200px) and (max-width: 600px) {
        width: 105px;
      }

      &__p {
        color: $green-leaf;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
      }
    }
  }

  &:hover {
    .chiffre__front {
      display: none;
    }

    .chiffre__back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

#chiffre__front {
  &__0 {
    font-size: 66px;
    font-weight: 800;

    @media all and (min-width: 601px) and (max-width: 800px) {
      font-size: 46px;
    }

    @media all and (max-width: 600px) {
      font-size: 42px;
    }
  }

  &__1 {
    font-size: 112px;
    font-weight: 400;

    @media all and (min-width: 601px) and (max-width: 800px) {
      font-size: 46px;
    }

    @media all and (max-width: 600px) {
      font-size: 42px;
    }
  }

  &__2 {
    font-size: 220px;
    font-weight: 200;

    @media all and (min-width: 601px) and (max-width: 800px) {
      font-size: 46px;
    }

    @media all and (max-width: 600px) {
      font-size: 42px;
    }
  }

  &__3 {
    font-size: 98px;
    font-weight: 600;

    @media all and (min-width: 601px) and (max-width: 800px) {
      font-size: 46px;
    }

    @media all and (max-width: 600px) {
      font-size: 42px;
    }
  }
}
