$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.error {
  color: $red-wine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  margin: 0px 0px;
  background-color: $main-peach;

  @media all and (max-width: 640px) {
    margin: 0px 0px;
  }

  &__code {
    font-size: 250px;
    font-weight: 700;
    padding: 20px;
    margin: 8% 0px 0px 0px;

    @media all and (min-width: 1601px) {
      font-size: 350px;
      margin: 5% 0px 0px 0px;
    }

    @media all and (min-width: 901px) and (max-width: 1100px) {
      font-size: 200px;
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
      font-size: 180px;
    }

    @media all and (max-width: 640px) {
      font-size: 150px;
      text-align: center;
    }
  }

  &__txt {
    font-size: 36px;
    color: #124b38;

    @media all and (min-width: 1601px) {
      font-size: 40px;
    }

    @media all and (min-width: 769px) and (max-width: 1024px) {
      font-size: 30px;
    }

    @media all and (min-width: 641px) and (max-width: 768px) {
      font-size: 24px;
    }

    @media all and (max-width: 640px) {
      font-size: 22px;
      padding: 0px 15px;
      text-align: center;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 100%;
    gap: 5%;

    @media all and (min-width: 641px) and (max-width: 768px) {
      gap: 3%;
    }

    @media all and (max-width: 640px) {
      gap: 0px;
      max-width: 100%;
    }

    &__l {
      font-size: 30px;
      color: $green-leaf;
      text-align: center;

      @media all and (min-width: 1601px) {
        font-size: 30px;
      }

      @media all and (min-width: 641px) and (max-width: 768px) {
        font-size: 20px;
      }

      @media all and (max-width: 640px) {
        font-size: 16px;
        padding-bottom: 50px;
      }
    }

    &__img {
      width: 450px;

      @media all and (min-width: 1601px) {
        width: 550px;
      }

      @media all and (min-width: 600px) and (max-width: 900px) {
        width: 350px;
      }

      @media all and (max-width: 640px) {
        width: 190px;
      }
    }

    @media all and (max-width: 640px) {
      font-size: 18px;
      padding-bottom: 50px;
    }
  }
}

#errora {
  margin: 0px;
  padding: 0px;
}
