$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.gallery {
  background-color: $main-peach;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &__title {
    text-align: left;
    font-size: 80px;
    margin: auto;
    color: $red-wine;

    @media all and (max-width: 600px) {
      font-size: 42px;
      text-align: center;
    }
  }
}

#Catalogue,
#Reviews {
  min-width: 100%;
  width: 100%;
}
