$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.btn-primary {
  background-color: #124b38;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 24px;
  color: $light-peach;
  transition: all 0.3s;

  @media all and (max-width: 600px) {
    font-size: 18px;
  }
}

.btn-primary:hover {
  transform: scale(1.1); /* Agrandir le bouton au survol */
}

.btn-primary:active {
  background-color: #b6124d; /* Changer la couleur au clic */
}

.loading {
  background-color: #b6124d;
}
