$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

html {
  min-height: 100vh;
}

body {
  background-color: $main-peach;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
}

a {
  font-weight: 600;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 0px;
}

h2 {
  color: $red-wine;
  font-size: 42px;
  font-family: "Manrope" sans-serif;
  padding: 20px;
  font-weight: 600;
  @media all and (max-width: 600px) {
    font-size: 28px;
  }
}

h3 {
  color: $red-wine;
  font-size: 42px;
  font-family: "Manrope" sans-serif;
  padding: 20px;
  font-weight: 400;
  padding: 20px;
  @media all and (max-width: 600px) {
    font-size: 28px;
    text-align: center;
  }
}

h4 {
  color: $green-leaf;
  font-size: 30px;
  font-family: "Manrope" sans-serif;
  padding: 20px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
