$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.modalt {
  padding: 0px;
  margin: 0px;
  background-color: $light-peach;
  color: $green-leaf;

  &__btnsave {
    background-color: $green-leaf;
  }
  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-left: 2px;

    &__p {
      padding-top: 20px;
      text-align: justify;
    }

    &__btn {
      background-color: $red-wine;
      border-radius: 20px;
      padding: 5px 20px;
      border: none;
      color: $light-peach;

      &__caddy {
        background-color: $light-peach;
        border-radius: 20px;
        padding: 5px 20px;
        border: none;
        color: $light-peach;
      }
    }
  }
}

#modalt__btnsave {
  background-color: $green-leaf;
  color: $light-peach;
}

li,
ul {
  padding: 0px;
  margin: 0px;
}

.btn__submit {
  display: flex;
  margin: 30px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: $red-wine;
  color: #ffebe2;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 500ms;
}

.btn__submit:hover {
  transform: scale(1.1);
}
