$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.nospartenaires {
  width: 100%;
  padding: 20px;
  max-width: fit-content;

  &__title {
    text-align: left;
    font-size: 80px;
    margin: auto;
    color: $red-wine;
    margin: 20px 0px;

    @media all and (min-width: 901px) and (max-width: 1100px) {
      font-size: 60px;
    }
    @media all and (min-width: 600px) and (max-width: 900px) {
      font-size: 50px;
    }

    @media all and (max-width: 600px) {
      font-size: 42px;
      text-align: center;
    }
  }

  &__filtresmobiles {
    display: none;
    @media all and (max-width: 600px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__gallery {
    padding: 50px;
    background-color: $light-peach;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 901px) and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @media all and (min-width: 401px) and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      text-align: center;
      margin-top: 20px;
      margin: 20px 0px;
      padding: 10px 10px;
    }

    @media all and (max-width: 400px) {
      grid-template-columns: 1fr;
      gap: 20px;
      text-align: center;
      margin-top: 20px;
      margin: 20px 0px;
      padding: 10px 10px;
    }

    &__btn {
      background-color: $red-wine;
      width: 150px;
      height: 50px;
      padding: 10px 10px;
      border-radius: 20px;
      border: 0;
      box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
      color: $light-peach;
      font-family: "Manrope" sans-serif;
      font-size: 100%;
      font-weight: 600;
      transition: all 800ms;
      margin-left: 20px;
    }
  }
}

.nospartenaires__gallery__btn:hover {
  transform: scale(1.1);
}
