$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.prestations {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  background-color: $main-peach;

  &__title {
    font-size: 80px;
    margin: auto;
    margin-top: 50px;
    color: $red-wine;

    @media all and (max-width: 600px) {
      font-size: 42px;
      text-align: center;
    }
  }
}

#prestations {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  background-color: $main-peach;
}

#faq,
#gfv {
  min-width: 100%;
}
