$main-peach: #ffd2b8;
$light-peach: #ffebe2;
$red-wine: #b6124d;
$green-leaf: #124b38;

.tabtools {
  background-color: $green-leaf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    &__item {
      &__link {
        color: #ffd2b8;
      }
    }
  }
}

#tabtools_a1,
#tabtools_a2,
#tabtools_a3,
#tabtools_a4 {
  color: $main-peach;
}
